<div class="todoItem"
  [class.isDone]="todo.isDone">

  <igx-checkbox
    class="todoItem__check"
    [checked]="todo.isDone"
    (change)="toggleItemState(check.checked)"
    #check>
  </igx-checkbox>

  <span *ngIf="!isEditing"
    class="todoItem__title"
    (dblclick)="startEditItem(input)">
    {{ todo.title }}
  </span>

  <input *ngIf="isEditing"
    class="todoItem__editor"
    type="text"
    [value]="todo.title"
    (keydown)="onKeydown($event)"
    (blur)="endEditItem(input)"
    #input>

  <button
    class="todoItem__remove"
    igxButton="icon"
    igxRipple
    (click)="removeItem()">
    <igx-icon name="delete"></igx-icon>
  </button>

</div>
