.todo {
  height: 100%;

  display: flex;
  flex-flow: column nowrap;

  .todo__list {
    flex: 0 1 auto;
    overflow: auto;
    padding: 0 12px;
  }

  .todo__add {
    flex: 0 0 auto;
    padding: 0 12px;
  }
}
